<h1>Derniers articles :</h1>
<table>
  <tr>
    <th>Titre</th>
    <th>Contenu</th>
  </tr>
  <%if @post.try(:any?) %>
    <% @post.each do |p| %>

      <tr>
        <td><%=p.titre %></td>
        <td><%=p.contenu %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
      </tr>
    <% end %>

  <%else %>
    Aucun article
  <% end %>
</table>