<div class="col-md-8 col-md-offset-2 about">
  <h1>À propos</h1>

  <p>Je m'appelle Joseph Levarato, j'ai actuellement 23 ans et je suis étudiant à l'Institut G4, Lyon.</p>

  <p>Je suis actuellement à la recherche d'un contrat de professionnalisation pour obtenir de l'expérience afin d'obtenir
  de l'expérience en entreprise. Ayant des difficultés à en trouver un, j'ai appris de nombreux langages afin d'élargir
  mon éventail de compétences. </p>
  <p>Parmis ces langages, j'ai pu découvrir Ruby et son Framework web Ruby on Rails, dont j'ai beaucoup apprécié la logique
    et la simplicité. Ainsi, le site sur lequel vous naviguez en ce moment-même est réalisé avec Ruby on Rails, dont je continue
    encore aujourd'hui à apprendre le potentiel.</p>
  <p>Ce site me servira pour stocker des projets que j'ai pu réaliser au sein de l'institut G4, mais aussi pour faire des petites
    expériences avec Rails ! Ainsi aussi, cela peut être normal si vous tombez sur une erreur au détour d'une page.
    Si c'est le cas, <%= link_to "contactez-moi", 'mailto:jd.levarato@gmail.com', class: 'link-red' %> !</p>
</div>