<h1>Liste des choses à faire</h1>

<ul>
  <li>Recréer un logo (façon contacts d'iOS, j'aimais bien le principe... en rouge ? Genre ruby ?)</li>
  <li>Utiliser ledit logo comme favicon</li>
  <li>Editer les pages 404 et 500 (répertoire : /public)</li>
  <li>Finir de remplir les pages</li>
  <li>Intégrer FunkyTimeTraveler sur le site en faisant une adaptation du PHP en Ruby</li>
  <li>Et pourquoi pas mettre dans "A propos" un lecteur de musiques avec mes musiques préférées du moment ? ._.</li>
</ul>
