.lol{
	border: solid 1px #000;
	background-color: cyan;
	height: 150px;
}

p{
	text-align: center;
}

.barrexp{
    width: 235px;
    height: 10px;
}

.photo_identite{
    height:150px;
    width: 137px;
}

.pic{
    margin-left: 20%;
    margin-top: 13px;
}