<p>
  Un nouveau message a été envoyé depuis le site :

  <strong>Nom :</strong>
  <br/>
  <%= @contact.nom %>
  <br/>
  <strong>Email :</strong>
  <br/>
  <%= @contact.email %>
  <br/>
  <strong>Objet :</strong>
  <br>
  <%= @contact.objet %>
  <br/>
  <strong>Message :</strong>
  <br>
  <%= @contact.message %>
</p>
